/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 dic. 2024, 22:05:34
    Author     : JEFFERSON
*/
header{
    background-color: red;
    padding: 100px;
    
}

main{
    background-color: #f7e86e
}

footer{
    background-color: green;
    padding: 100px
}

h1{
    font-size: 155px;
    color: red;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    margin: 0;
}

.cabecera_color{
    color:white
}

.tabla_cliente{
    color: #ed4b29;
}

#tablax{
    
}

@media only screen and (max-width:1200px){
    h1{
        font-size: 55px;
    }
}

#formAjx{
    margin: 10px
}